<article class="">
  <h1>Mesa {ID da Mesa}</h1>
  <section>
    <form class="">
      <div class="">
        <p>Reservada por: {Nome do cliente} </p>
        <p>Telefone: {Telefone}</p>
        <p>Horário: {hh:mm dd/mm/aaaa}</p>
      </div>
      <div class="">
        <label for="link-token">Atribuir token</label><br> 
        <input id="link-token" type="text" value="" placeholder="Token">
      </div>
      
      <div class="">
        <button type="button" name="reserve">Reservar Mesa</button><br>
        <button type="button" name="send">LiberarMesa</button>
      </div>
    </form>
  </section>
</article>  