.outer-item {
  display: flex;
  width: 100%;
}
.item {
  flex-grow: 1;
  max-width: 50%;
  text-align: center;
}
span.price::before {
  content: 'R$ ';
}

.important, .important::before {
  font-weight: bolder;
  text-transform: uppercase;
}
