<link rel="stylesheet" href="app\\components\\client\\finalizar-pedido\\finalizar-pedido.css" />
<article>
  <h1>Finalizar pedido</h1>
  <section class="items">
    <div class="outer-item">
      <div class="item name">
        <span>asasa</span>
      </div>
      <div class="item price">
        <span>15,00</span>
      </div>
    </div>
  </section>
  <section>
    <label for="gorjeta">Incluir 10%</label>
    <input id="gorjeta" type="checkbox">
    <div class="outer-item">
      <div class="item">
        <span>Total da conta</span>
      </div>
      <div class="item price">
        <span>15,00</span>
      </div>
    </div>
    <div class="outer-item">
      <div class="item">
        <span>Taxas</span>
      </div>
      <div class="item price">
        <span>01,50</span>
      </div>
    </div>
    <div class="outer-item">
      <div class="item">
        <span>Total a pagar</span>
      </div>
      <div class="item price">
        <span>16,50</span>
      </div>
      <button type="button" name="button">Solicitar Garçom</button>
    </div>
  </section>
</article>
