  <link rel="stylesheet" href="app\\components\\client\\cardapio\\cardapio.css">
<article class="">
  <h1 class="title">Cardápio</h1>
  <section class="menu-container">
    <form class="pure-form" >
      <input type="text" id="search-filter" ng-model="search" name="" value="" placeholder="Filtrar cardápio">
    </form>
    <button type="button" ng-click="tst()">asasasa</button>
    <div ng-repeat="categoria in categorias  | filter:{name : search}" ng-click="showItems(categoria.name)" class="categoria-cardapio">
      <div class="category-name">
        <span>{{categoria.name}}</span>
      </div>
      <section ng-class="'not-displayed category-' + categoria.name">
        <div ng-repeat="item in categoria.items" ng-class="item.name">
          <div class="name">
            <span>{{item.name}}</span>
          </div>
          <div class="price">
            <span>{{item.price | number:2}}</span>
          </div>
        </div>
      </section>
    </div>
  </section>
</article>
