<link rel="stylesheet" type="text/css" href="app\components\manager\edicao-reserva\edicao-reserva.css">
<article class="">
  <h1 class="reservation-title" >Reserva de Mesas</h1>
  <section>
    <form class="pure-form">
      <div class="reservation-data">
        <label for="table">Mesas escolhidas:</label> <br>
        <input id="table" type="text" value="" placeholder="Mesa ID=1"><br>
        <input id="table" type="text" value="" placeholder="Mesa ID=2">
      </div>
      <div class="reservation-data">
        <label for="client">Dados do cliente:</label> <br>
        <input id="client" type="text" value="" placeholder="Nome do reservante"><br>
        <input id="client" type="text" value="" placeholder="Telefone">
      </div>
      <div class="reservation-data">
        <label for="time">Horário de Reserva</label> <br>
        <input id="time" type="date" value=""><br>
        <input id="time" type="time" value="" placeholder="Horário">
      </div>
      <div class="reservation-data">
        <button type="submit" name="button">Confirmar Reserva</button>
        <button type="button" name="button">Cancelar</button>
      </div>
    </form>
  </section>
</article>
