<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Le Maitre</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="big-container">
      <header>
        <h1>Le Maître</h1>
      </header>
      <main class="big-box">
        <section class="status-panel green">
          <div class="order-box" ng-repeat="order in recentlyRequestedOrders">
            <!-- TODO: transform into custom angular element -->
            <div class="order-card">
              <div class="order-item" ng-repeat="item in order.items">
                <h2>{{item.id}} - {{item.name}}</h2>
                <p>{{item.observation}}</p>
              </div>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(item.status)"></div>
          </div>
          <aside class="time">
            <p> &lt <span class="number">05</span>min</p>
          </aside>
        </section>
        <section class="status-panel yellow">
          <div class="order-box" ng-repeat="order in moderatelyRequestedOrders">
            <div class="order-card">
              <div class="order-item" ng-repeat="item in order.items">
                <h2>{{item.id}} - {{item.name}}</h2>
                <p>{{item.observation}}</p>
              </div>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(item.status)"></div>
          </div>
          <aside class="time">
            <p> <span class="number">20</span>min</p>
          </aside>
        </section>
        <section class="status-panel red">
          <div class="order-box" ng-repeat="order in longAgoRequestedOrders">
            <div class="order-card">
              <div class="order-item" ng-repeat="item in order.items">
                <h2>{{item.id}} - {{item.name}}</h2>
                <p>{{item.observation}}</p>
              </div>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(item.status)"></div>
          </div>
          <aside class="time">
            <p> &gt <span class="number">35</span>min</p>
          </aside>
        </section>
      </main>
    </div>
  </body>
</html>
