<!DOCTYPE html>
<html ng-app="leMaitre-kitchen">
  <head>
    <meta charset="utf-8">
    <title>Le Maitre</title>
    <base href="/lemaitre-frontend/app/components/kitchen/"></base>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="../../../assets/libs/angular.min.js" charset="utf-8"></script>
    <script src="kitchen-app.js" charset="utf-8"></script>
    <script src=".\kitchen.controller.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="big-container" ng-controller="KitchenCtrl">
      <header>
        <h1>Le Maître</h1>
      </header>
      <main class="big-box">
        <section class="status-panel green">
          <div class="order-box" ng-repeat="order in recentlyRequestedOrders">
            <div class="order-card">
              <h2>{{order.item.id}} ({{order.item.name}})</h2>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(order.status)"></div>
          </div>
          <aside class="time">
            <p> < <span class="number">05</span>min</p>
          </aside>
        </section>
        <section class="status-panel yellow">
          <div class="order-box" ng-repeat="order in moderatelyRequestedOrders">
            <div class="order-card">
              <h2>{{order.item.id}} ({{order.item.name}})</h2>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(order.status)"></div>
          </div>
          <aside class="time">
            <p> < <span class="number">20</span>min</p>
          </aside>
        </section>
        <section class="status-panel red">
          <div class="order-box" ng-repeat="order in longAgoRequestedOrders">
            <!-- <div class="order-card" ng-dblclick="improveOrderStatus(order)"> -->
            <div class="order-card">
              <h2>{{order.item.id}} ({{order.item.name}})</h2>
            </div>
            <div class="status" ng-class="getItemStatusCSSClass(order.status)"></div>
          </div>
          <aside class="time">
            <p> > <span class="number">35</span>min</p>
          </aside>
        </section>
      </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Services -->
    <script src="order-kitchen.service.js" charset="utf-8"></script>
    <script src="items-kitchen.service.js" charset="utf-8"></script>
  </body>
</html>
