<article class="">
  <h1>Gerador de Token</h1>
  <section>
    <p>Insira o nº da mesa e clique para gerar o token correspondente à ela</p>
    <form class="">
      <div class="">
        <label for="tableNumber">Numero da Mesa</label> <br>
        <input id="tableNumber" type="number" value="" placeholder="Numero da Mesa"><br>
        <input id="tableNumber" type="text" value="" placeholder="Token">
      </div>
      <div class="">
        <button type="button" name="button">Gerar Token</button>
      </div>
    </form>
  </section>
</article>