<link rel="stylesheet" type="text/css" href="app\components\manager\gestao-mesas\gestao-mesas.css">
<article class="">
  <h1>Mesa {ID da Mesa}</h1>
  <section>
    <form class="">
      <div class="">
        <div class="table medium red"></div>
        <div class="table medium green"></div>
        <div class="table medium gray"></div>
        <br><br>
        <div class="table medium red"></div>
        <div class="table medium gray"></div>
        <div class="table medium green"></div>
        <br><br>
        <div class="table medium gray"></div>
        <div class="table medium red"></div>
        <div class="table medium green"></div>


      </div>

      <div class="">
        <br><br><button type="button" name="reserve">Reservar Selecionados</button>
      </div>

      <div class="">
        <h5>Legenda</h5>
        <div class="table small green" id="mesa-livre"></div>
        <label for="mesa-livre">Mesa livre</label>
        <br>
        <div class="table small red" id="mesa-ocupada"></div>
        <label for="mesa-ocupada">Mesa ocupada</label>
        <br>
        <div class="table small gray" id="mesa-reservada"></div>
        <label for="mesa-reservada">Mesa reservada</label>
      </div>

    </form>
  </section>
</article>
