.table {
    float: left;
    border: 1px solid rgba(0, 0, 0, .2);
}

.medium{
	width: 20px;
	height: 20px;
	margin: 5px;
}

.small{
	width: 10px;
	height: 10px;
	margin: 3px;
}

.green {
  	background: #00FF00;
}

.red {
	background: #FF0000;
}

.orange {
    background: #D3D3D3;
}

.tables-exhibit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2em;
  flex-wrap: wrap;
}

.table-icon {
  display: flex;
  width: 8em;
  height: 8em;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
  margin: 0.5%;
  box-sizing: border-box;
}

.table-icon:hover, .content-icon:hover {
  cursor: pointer;
  box-shadow: 0px 3px 3px rgb(184,184,184);
  transition: 0.3s ease-in;
}

.table-info {
  width: 80vh;
  height: 60vh;
  z-index: 9999;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: red;
  display: none;
}

.displayed { display: block; }

.close-icon {
  display: block;
  position: absolute;
  left: 97%;
  top: -2%;
  font-size: 2em;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.content-icon {
  display: flex;
  width: 8em;
  height: 8em;
  align-items: center;
  justify-content: center;
  margin: 0.5%;
  box-sizing: border-box;
  text-align: center;
  padding: 1%;
  font-weight: bolder;
  text-transform: uppercase;
}

.category {
  background-color: lightgrey;
}

.subcategory {
  background-color: darkgrey;
}

.available {
  background-color: lightgreen;

}

.unavailable {
  background-color: tomato;
  color: white;
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.status-item {
  font-weight: bold;
}
