<link rel="stylesheet" type="text/css" href="app\components\manager\gestao-mesas\gestao-mesas.css">
<aside class="table-info">
  <span class="close-icon"><i class="fa fa-times" aria-hidden="true" ng-click="closeTableInfo()"></i></span>
  <h1>Mesa {{tableBeingViewed.id}}</h1>
  <p ng-if="{{isLoading}}">Carregando...</p>
  <div class="" ng-if=" tableBeingViewed.status == 'O' ">
    <!-- campos: fazer pedido, visualizar conta parcial, fechar conta -->
  </div>
  <div class="" ng-if=" tableBeingViewed.status == 'F' ">
    <!-- campos: inserir token, reservar mesa. -->
  </div>
  <div class=" " ng-if=" tableBeingViewed.status == 'R' ">
    <!-- campos: exibir dados reserva, cancelar reserva, editar reserva -->
  </div>

</aside>
<article class="">
  <section>
    <form class="pure-form">
      <section class="tables-exhibit">
        <div ng-repeat="table in tables" class="table-icon" ng-class="getTableStatusClass(table.status)" ng-click="openTableStatus(table.id)">{{table.id}}uau</div>
      </section>

      <div class="">
        <br><br><button type="button" name="reserve">Reservar Selecionados</button>
      </div>

      <div class="">
        <h5>Legenda</h5>
        <div class="table small green" id="mesa-livre"></div>
        <label for="mesa-livre">Mesa livre</label>
        <br>
        <div class="table small red" id="mesa-ocupada"></div>
        <label for="mesa-ocupada">Mesa ocupada</label>
        <br>
        <div class="table small gray" id="mesa-reservada"></div>
        <label for="mesa-reservada">Mesa reservada</label>
      </div>
    </form>
  </section>
</article>
