.table {
    float: left;
    border: 1px solid rgba(0, 0, 0, .2);
}

.medium{
	width: 20px;
	height: 20px;
	margin: 5px;
}

.small{
	width: 10px;
	height: 10px;
	margin: 3px;
}

.green {
  	background: #00FF00;
}

.red {
	background: #FF0000;
}

.gray {
    background: #D3D3D3;
}

.tables-exhibit {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
  flex-wrap: wrap;
}

.table-icon {
  display: flex;
  width: 8em;
  height: 8em;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  box-sizing: border-box;
}

.table-icon:hover {
  cursor: pointer;
  box-shadow: 0px 10px 5px #888888;
  transition: 0.3s ease-in;
}

.table-info {
  width: 80vh;
  height: 60vh;
  z-index: 9999;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: red;
  display: none;
}

.displayed { display: block; }

.close-icon {
  display: block;
  position: absolute;
  left: 97%;
  top: -2%;
  font-size: 2em;
}
