<link rel="stylesheet" href="app\components\manager\adicionar-item\adicionar-item.css">
<article class="">
  <h1>Adicionar item</h1>
  <section class="add-item-container">
    <form class="item-form pure-form" ng-submit="insertItem(item)">
      <div class="item-name">
        <label for="name">Nome</label><br>
        <input id="name" type="text" ng-model="item.name" value="" placeholder="Insira o nome" ng-required="required" autofocus>
      </div>
      <div class="item-picture">
        <label for="image">Imagem</label><br>
        <input id="image" type="text" ng-model="item.picture" name="" value="" placeholder="Insira imagem do item">
      </div>
      <div class="item-price">
        <div class="">
          <label for="price">Preço</label><br>
          <input id="price" type="number" min="0" step="0.01" name="" ng-model="item.price" value="" placeholder="Insira o preço" ng-required="required">
        </div>
        <div class="">
          <label for="availability">Está disponivel</label>
          <input id="availability" type="checkbox" name="" ng-model="item.isAvailable" ng-required="required">
        </div>
      </div>
      <div class="item-description">
        <label for="description">Descrição</label><br>
        <textarea id="description" name="" ng-model="item.description" rows="2" placeholder="Insira a descrição" ng-required="required"></textarea>
      </div>
      <div class="item-availability">
      </div>
      <div class="item-category">
        <div class="">
          <label for="category">Categoria</label><br>
          <select id="category" ng-model="item.category.id"
                                ng-options="category.id as category.name for category in categories"
                                ng-change="updateSubcategories(item.category.id)"
                                ng-required="required">
            <option value="" disabled>--Selecione---</option>
          </select>
        </div>
        <div class="">
          <label for="subcategory">Sub-Categoria</label><br>
          <select id="subcategory" ng-options="subcategory.id as subcategory.name for subcategory in subcategoriesExhibited"
                                  ng-model="item.category.subcategory.id"
                                  ng-required="required">
              <option value="">--Selecione---</option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button type="button" name="cancel-button" class="cancel btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button type="submit" name="submit-button" class="submit btn btn-success">Confirmar</button>
      </div>
      {{successMessage}}
    </form>
  </section>
</article>
