h1 {
  text-align: center;
  background-color: rgba(156, 204, 101, 0.6);
  padding: 3%;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.add-item-container {
  background-color: rgba(224, 224, 224, 0.5);
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 1%;
  margin-top: 0;
}

.item-name, .item-picture, .item-price, .item-description {
  margin-bottom: 3%;
}

.item-form > div > input[type="text"],
.item-form > div > input[type="text"],
.item-form > div > textarea,
.item-form select{
  width: 100%;
}

.item-price,
.item-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-price div,
.item-category div {
  width: 50%;
}

.item-category div:not(:first-of-type) {
  padding: 0 0 0 5%;
}

.buttons {
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.submit, .cancel {
  margin: 3%;
  margin-bottom: 0;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  h1 {
    padding: 5%;
    margin-top: 1%;
  }

  .item-form > div {
    margin-bottom: 5%;
  }

  .submit, .cancel {
    font-size: 16px;
  }

  .item-price {
    display: block;
  }
}
