<link rel="stylesheet" href="app\components\manager\adicionar-item\adicionar-item.css">
<article class="">
  <h1>Adicionar item</h1>
  <section>
    <form class="item-form">
      <div class="item-name">
        <label for="name">Nome</label>
        <input id="name" type="text" value="" placeholder="Insira o nome">
      </div>
      <div class="item-img">
        <label for="image">Imagem</label>
        <input id="image" type="file" name="" value="">
      </div>
      <div class="item-price">
        <label for="price">Preço</label>
        <input id="price" type="number" name="" value="" placeholder="Insira o preço">
      </div>
      <div class="item-description">
        <label for="description">Descrição</label>
        <textarea id="description" name="name" rows="4" placeholder="Insira a descrição"></textarea>
      </div>
      <div class="buttons">
        <button type="submit" name="button" class="button submit">Confirmar</button>
        <button type="button" name="button" class="button cancel">Cancelar</button>
      </div>
    </form>
  </section>
</article>
