.order-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(156, 204, 101, 0.9);
}
.item-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 2%;
}

.item-display:nth-child(2n) {
  background-color: rgba(224, 224, 224, 0.6);
}
.item-display:nth-child(2n+1) {
  background-color: rgba(238, 238, 238, 0.6);
}

.item-display:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.item-display > div {
  flex-basis: 25%;
  text-align: center;
}

.item-display img {
  max-width: 100%;
}

.price::before {
  content: 'R$';
}
.quantity::after {
  content: 'X';
  font-size: 0.6em;
}
.circle::before {
  border-radius: 50%;
  content: '';
  height: 1em;
  width: 1em;
  display: inline-block;
}

.circle.status-red::before {
  background-color: red;
}

.circle.status-green::before{
  background-color: green;
}

.circle.status-orange::before {
  background-color: orange;
}

.util {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
