<article class="">
  <h1>Mesa {ID da Mesa}</h1>
  <section>
    <form class="">
      <div class="">
        <label for="link-token">Atribuir token</label><br> 
        <input id="link-token" type="text" value="" placeholder="Token"><br>
        <button type="button" name="send">Send</button>
      </div>
      <div class="">
        <p>Mesa compartilhada com: </p>
        <ul>
          <li>Mesa {ID}</li>
          <li>Mesa {ID}</li>
          <li>Mesa {ID}</li>
        </ul>
      </div>
      <div class="">
        <button type="button" name="reserve">Reservar Mesa</button>
      </div>
    </form>
  </section>
</article>