h1 {
  text-align: center;
  background-color: rgba(156, 204, 101, 0.6);
  padding: 3%;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

section {
  background-color: rgba(224, 224, 224, 0.5);
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 1%;
  margin-top: 0;
}

.reservations {
    font-size: 20px;
}

ul > li {
  list-style-position: inside;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media only screen and (max-width: 480px) {

  section {
    padding: 3%;
  }

  ul {
    padding: 2%;
  }

  .reservations{
    font-size: 18px;
  }

   h1 {
    padding: 5%;
    margin-top: 1%;
   }
}
