<link rel="stylesheet" type="text/css" href="app\components\manager\reservas\reservas.css">
<article class="">
  <h1>Reservas</h1>
  <section>
    <ul ng-repeat="(key, value) in reservations | groupBy: 'date'">
      <h4 class="reservations">Reservas para {{key}}</h4>
      <li ng-repeat="reservation in value"
          data-toggle="modal"
          data-target="#myModal"
          ng-click="exhibitReservation(reservation)"
      >
        Mesa {{reservation.table.id}}, {{reservation.person.name}} - {{reservation.person.cellphone}}
      </li>
    </ul>
  </section>
</article>

<aside>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Detalhes da reserva</h4>
        </div>
        <div class="modal-body">
          <p ng-if="isLoading">Carregando...</p>
          <!-- <div class="" ng-if="!isLoading"> TODO implement isLoading variable -->
          <div class="" ng-if="true">
            <p>
              <span class="status-item">Número da mesa:</span>
              <a href="#" editable-text="reservationBeingViewed.table.id">{{ reservationBeingViewed.table.id || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Numero de Pessoas:</span>
              <a href="#" editable-text="reservationBeingViewed.nbrOfPeople">{{ reservationBeingViewed.nbrOfPeople || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Data:</span>
              <a href="#" editable-text="tableBeingViewed.reservation.date">{{ reservationBeingViewed.date || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Horário:</span>
              <a href="#" editable-text="tableBeingViewed.reservation.hour">{{ reservationBeingViewed.hour || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Nome do Cliente:</span>
              <a href="#" editable-text="reservationBeingViewed.person.name">{{ reservationBeingViewed.person.name || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Telefone Fixo:</span>
              <a href="#" editable-text="tableBeingViewed.reservation.person.telephone">{{ reservationBeingViewed.person.telephone || 'Vazio' }}</a>
            </p>
            <p>
              <span class="status-item">Celular:</span>
              <a href="#" editable-text="tableBeingViewed.reservation.person.cellphone">{{ reservationBeingViewed.person.cellphone || 'Vazio' }}</a>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left " ng-click="cancelTableReservation(reservationBeingViewed)">Cancelar Reserva</button>
          <button type="button" class="btn btn-success pull-right" ng-click="editTableReservation(reservationBeingViewed)">Salvar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</aside>
