<link rel="stylesheet" href="app\components\manager\gerador-token\gerador-token.css">
<article class="">
  <h1>Gerador de Token</h1>
  <section class="generator-container">
    <p>Insira o nº da mesa e clique para gerar o token correspondente à ela</p>
    <form name="form" class="pure-form" ng-submit="gerarTokens()">
      <div class="">
        <label for="tables">Mesa</label>
        <input id="tables" name="tables" type="text" placeholder="Ex.: 11">
      </div>
      <div class="generate-button">
        <button type="submit" name="button">Gerar Token</button>
      </div>
    </form>
    <input id="table-number" ng-repeat="token in tokens" type="text" ng-value="token" readonly>
  </section>
</article>
